*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
CardLoader/things/cardau-e7c80-firebase-adminsdk-spds3-f66eed6982.json
CardLoader/things/google-services.json
